$color-sass: #bf4080;
$color-sass-80: hsl(330, 80%, 50%);


.bg-sass{
    background-color: $color-sass;
    transition: background-color .5s ease-in-out;
    &:hover{
        background-color: $color-sass-80;
    }
}